.card_title {
  color: #465fa1;
  margin: 0 0 0 0;
}

.card_content,
.card_content *,
.card_header_div,
.card_header_div *,
.card_body_text,
.card_body_text *,
.card_body_div,
.card_footer,
.card_footer *,
.card_title *,
.card_title {
  background: none;
}

.card_container {
  background: none;
  min-height: 35%;
  max-height: 35%;
  margin: 1% 1% 1% 1%;
}

.card_body_text {
  background: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin-top: 3%;
}

.card_link {
  margin: 15% 0 15% 0;
}

.card_body_div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card_img {
  margin: 0 1% 0 1%;
}

.card_footer{
  margin:9% 9% 6% 9%;
}

.card_footer a {
  color: #8C30F5;
  text-decoration: none;
}