.footer {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color:#FFFF;
  font-size: 18px;
  line-height: 20px;
  background: none;
  z-index: 3;
}

.footer_text{
  background: none;
}

