.header {
  background: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}

.header * {
  background: none;
}

.header li {
  margin-left: 2rem;
}

.header li a {
  color: #18191f !important;
}

.header li a:hover,
.header li a:active,
.header li a:active {
  color: white !important;
}

.first_nav {
  z-index: 1;
}



.second_nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 20px;

  z-index: 1;
  width: 30% !important;
}

.sign_in_button {
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 14px;
  color: #445579;
}

.sign_up_button {
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 14px;
  color: #ffffff;
}
