.header {
  background: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}

.header * {
  background: none;
}

.header a {
  color: #18191f !important;
}

.header a:hover,
.header a:active,
.header a:active {
  color: white !important;
}

.sign_in_button {
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 14px;
  color: #445579;
}

.sign_up_button {
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 14px;
  color: #ffffff;
}

.nav_link{
  margin: 0 2% 0 5%;
}

.container{
  z-index:5
}