$sand-light: #e6d7cb;
$sand-dark: #c89d8b;
$water-dark: #445579;
$water-medium: #7180a6;
$water-light: #8998b8;
$default-text-color: #0000;
$alternate-text-color: #ffff;

$custom-colors: (
  "sand-light": $sand-light,
  "sand-dark": $sand-dark,
  "water-dark": $water-dark,
  "water-medium": $water-medium,
  "water-light": $water-light,
  "default-text-color": $default-text-color,
  "alternate-text-color": $alternate-text-color,
);

$primary: #7180a6;
$secondary: #f1e4ff;
$info: $sand-light;
$dark: $sand-dark;
$small-font-size: 0.8em;

html,
body {
  padding: 0;
  margin: 0;
  font-family: Inter;
  font-style: normal;
  background-color: $sand-light;
}

body * {
  background-color: $sand-light;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "../node_modules/bootstrap/scss/utilities.scss";

@import "../node_modules/font-awesome/scss/font-awesome.scss";

$utilities: (
  "color": (
    property: color,
    class: background,
    print:true,
    values:
      map-merge(
        $theme-colors,
        $custom-colors
      ),
  ),
);
